<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">一卡通自助终端 Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>欢迎使用 一卡通自助终端 Web API!</h1>
                <h2>修改此模板中的代码以快速开始您的 一卡通自助终端 Web API 开发。</h2>
            </hgroup>
            <p>
                使用 一卡通自助终端 Web API 可以直接通过 HTTP 向
                Web 公开你的应用程序、数据和服务。
            </p>
            <p>
                若要了解有关 一卡通自助终端 Web API 的详细信息，请访问
                <a href="http://www.xiongdi.cn/contactus/contactus-1.html" title="雄帝科技">http://www.xiongdi.cn</a>。
                该页提供 <mark>联系方式</mark> 以帮助你充分利用 一卡通自助终端 Web API，调用接口服务以快速开始您的应用开发。
            </p>  
            <p>Version：@ViewData["Message"]</p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>下面是我们建议的步骤:</h3>
        <ol class="round">
            <li class="one">
                <h5>开始使用</h5>
                一卡通自助终端 Web API  是一个框架，您可以通过该框架轻松生成可访问
                多种客户端(包括浏览器和移动设备)的 HTTP 服务。
            </li>
            <li class="two">
                <h5>申请帐号</h5>
                请联系我们为您开通相应的帐号，之后您就可以使用该服务了。
            </li>
            <li class="three">
                 <h5>在线测试</h5>
                您可以通过<a href="Swagger">在线测试</a>，观察反馈数据结果以完善您的应用开发。
                备注：请使用IE8以上版本的浏览器进行测试。
            </li>
        </ol>
    </section>
</div>
